@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.upload {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid $secondary-color-mercury;
  @include tablet {
    padding: 2rem;
  }
  &__title {
    margin-bottom: 2rem;
    font-weight: 400;
    @include tablet {
      font-weight: 700;
      border-bottom: 1px solid $secondary-color-mercury;
      padding-bottom: 2rem;
    }
  }
  &__label {
    color: $primary-color-silver;
  }
  &__thumbnail {
    border-radius: 4px;
    margin-bottom: 2rem;
    @include tablet {
      width: 50%;
    }
  }
  &__cancel {
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    color: $primary-color-blue;
    margin-top: 2rem;
  }
}
