@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.video-list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem ;
  @include tablet {
    padding: 0 2rem;
  }
  &__title {
    font-size: 1rem;
    font-weight: 400;
    color: $primary-color-silver;
    margin: 0.5rem 0 1rem 0;
    @include tablet {
      margin:  1rem 0 1.5rem 0;
    }
    @include desktop {
      margin:  2.5rem 0 1.5rem 0;
    }
  }
  &__link {
    text-decoration: none;
  }
}
