@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.video-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  cursor: pointer;
  @include tablet {
    margin-bottom: 1.75rem;
  }
  &--active {
    display: none;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    min-width: 9rem;
    height: 5rem;
    background-color: $secondary-color-mercury;
    border-radius: 10px;
    &-img {
      height: inherit;
      width: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13.25rem;
    margin-left: 1rem;
    color: $primary-color-black;
    padding: 0.1rem 0;
    &-title {
      font-weight: 600;
      line-height: 1.4rem;
    }
  }
}
