@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.form {
  font-family: "Avenir", Times, serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1px solid $secondary-color-mercury;
  }
  &__sub-title {
    color: $primary-color-silver;
  }
  &__img {
    width: 2.25rem;
    height: 2.25rem;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-top: 1.4rem;
    @include tablet {
      width: 3rem;
      height: 3rem;
    }
  }
  &__text-input {
    outline: none;
    font-family: "Avenir", Times, serif;
    height: 2.25rem;
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid $secondary-color-mercury;
    margin-bottom: 1rem;
    overflow-y: hidden;
    resize: none;
    background-color: $secondary-color-alabaster;
    @include tablet {
      height: 3rem;
      padding: 1rem;
    }
    &:focus {
      outline: 2px solid $primary-color-blue;
    }
    &--comment {
      height: 5rem;
    }
    &--error {
      border: 1px solid #d22d2d;
    }
  }
  &__button {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: $primary-color-white;
    background: transparent url("../../assets/Icons/add_comment.svg") no-repeat
      1rem center;
    background-color: $primary-color-blue;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color-dark-blue;
    }
    @include tablet {
      min-width: 9.375rem;
      padding-left: 2rem;
      padding-right: 2rem;
      width: 25%;
      align-self: flex-end;
    }
  }
}
