@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.video-data {
  display: flex;
  flex-direction: column;
  font-family: "Avenir";
  color: $primary-color-black;
  &__title {
    font-size: 2rem;
    font-weight: 700;
    @include tablet {
      font-size: 2.5rem;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem 0;
    border-top: 2px solid $secondary-color-mercury;
    border-bottom: 2px solid $secondary-color-mercury;
    @include tablet {
      border-top: none;
      margin: 0;
      justify-content: space-between;
    }
    @include desktop {
      padding-right: 2.25rem;
    }
  }
  &-info {
    width: 50%;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 15.5rem;
    }
    &__container {
      display: flex;
      align-items: center;
      margin: 1rem 0;
      @include tablet{
        margin-bottom: 0.75rem;
      }
    }
    &__icon {
      display: inline-flex;
      align-self: center;
      margin-right: 1rem;
      height: 1.25rem;
    }
    &__text {
      color: $primary-color-silver;
      &--bold {
        color: $primary-color-black;
        font-weight: 700;
      }
    }
  }
}
