@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.comment-section {
  padding: 1rem;
  border-collapse: collapse;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 0;
  }
}

.empty-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  border-top: 2px solid $secondary-color-mercury;
  border-bottom: 2px solid $secondary-color-mercury;
  color: $secondary-color-mercury;
}
