@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  @include tablet {
    max-width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
  @include desktop {
    justify-content: flex-end;
    margin: 0 auto;
  }
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    @include tablet {
      width: 15rem;
    }    @include desktop {
      width: 19rem;
    }
  }
  &__link {
    text-decoration: none;
    display: flex;
    height: 100%;
  }
  &__logo {
    height: 2rem;
    &-container {
      @include desktop {
        justify-self: flex-end;
        margin-right: auto;
      }
    }
  }
  &__img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    &--1 {
      display: inline-block;
      @include tablet {
        display: none;
      }
    }
    &--2 {
      display: none;
      @include tablet {
        display: inline-block;
      }
      @include desktop {
        margin-left: 1.5rem;
      }
    }
  }
  &__button {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    color: $primary-color-white;

    background: transparent url("../../assets/Icons/upload.svg") no-repeat 1rem
      center;
    background-color: $primary-color-blue;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $secondary-color-dark-blue;
    }
    &--link {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      text-decoration: none;
      color: inherit;
      height: inherit;
      width: inherit;
    }
    @include tablet {
      min-width: 9.375rem;
      max-width: 11rem;
    }
    @include desktop {
      margin-left: 1.5rem;
    }
  }
  &-form {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-width: 240px;
    margin: 1rem 0;
    @include tablet {
      min-width: 150px;
      margin: 0;
    }
    &__search {
      width: 100%;
      height: 3rem;
      padding: 0 0 0 2.75rem;
      font-size: 1rem;
      background: transparent url("../../assets/Icons/search.svg") no-repeat
        1rem center;
      background-color: $secondary-color-alabaster;
      border-radius: 4px;
      border: 2px solid $secondary-color-mercury;
      &:focus {
        border: none;
        outline: 2px solid $primary-color-blue;
      }
    }
  }
}
