@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/colors" as *;
@use "../../styles/_partials/fonts" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/variables" as *;

.player {
  width: 100%;
  height: 100%;
  @include tablet {
    height: $tablet-player-height;
    width: calc($tablet-player-height * 1.77);
  }
  @include desktop {
    height: $desktop-player-height;
    width: calc($desktop-player-height * 1.77);
  }
  &__container {
    display: flex;
    justify-content: center;
    background-color: $secondary-color-dark-black;
    width: 100%;
  }
}
